	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Blog Timeline</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Blog Timeline</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->
    
    <section class="blog-wrapper">
    	<div class="container">
        	<div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center clearfix">
                <span class="blog_button">Latest News</span>
                </div>
                <ul class="timeline">
                    <li class="wow fadeInLeft">
                      <div class="timeline-badge danger"><i class="fa fa-pencil"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
                                    <img src="/assets/blog_03.png" alt="" class="img-responsive">
                                    <div class="magnifier">
                                        <div class="buttons">
                                            <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                        </div><!-- end buttons -->
                                    </div><!-- end magnifier -->
                                    <div class="post-type">
                                        <i class="fa fa-picture-o"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">Coke Mock-up Designs</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                    <li class="timeline-inverted wow fadeInRight">
                      <div class="timeline-badge danger"><i class="fa fa-pencil"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
                                    <img src="/assets/blog_02.png" alt="" class="img-responsive">
                                    <div class="magnifier">
                                        <div class="buttons">
                                            <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                        </div><!-- end buttons -->
                                    </div><!-- end magnifier -->
                                    <div class="post-type">
                                        <i class="fa fa-picture-o"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">Did you see my new Mac?</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                    <li class="wow fadeInLeft">
                      <div class="timeline-badge danger"><i class="fa fa-music"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
                                    <iframe class="soundcloud" height="166"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143789978&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                                    <div class="post-type">
                                        <i class="fa fa-music"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">Here We Go Again</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                    <li class="timeline-inverted wow fadeInRight">
                      <div class="timeline-badge danger"><i class="fa fa-play"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
                                    <iframe class="vimeo_video" src="http://player.vimeo.com/video/72960194?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281"></iframe>
                                    <div class="post-type">
                                        <i class="fa fa-play"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">A Video Post Type</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                    <li class="wow fadeInLeft">
                      <div class="timeline-badge danger"><i class="fa fa-camera"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            <li><img src="/assets/blog_03.png" alt="" class="img-responsive"></li>
                                            <li><img src="/assets/blog_02.png" alt="" class="img-responsive"></li>
                                            <li><img src="/assets/blog_01.png" alt="" class="img-responsive"></li>
                                        </ul><!-- end slides -->    
                                    </div><!-- end post-slider -->  
                                    <div class="post-type">
                                        <i class="fa fa-camera"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">Hi there, I am slider post type</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. In hac habitasse platea dictumst. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                    <li class="timeline-inverted wow fadeInRight">
                      <div class="timeline-badge danger"><i class="fa fa-quote-left"></i></div>
                      <div class="timeline-panel">
                            <div class="blog-carousel">
                                <div class="entry">
									<div class="quote-post">
                                        <blockquote>
                                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                            <small>
                                            Someone famous in
                                            <cite title="Source Title">John DOE</cite>
                                            </small>
                                        </blockquote>
                                    </div><!-- end quote-post -->
                                    <div class="post-type">
                                        <i class="fa fa-quote-right"></i>
                                    </div><!-- end pull-right -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                    <h3><a title="" href="blog-single-sidebar.html">This is a quote post</a></h3>
                                    <div class="blog-carousel-meta">
                                        <span><i class="fa fa-calendar"></i> April 01, 2014</span>
                                        <span><i class="fa fa-comment"></i> <a href="#">03 Comments</a></span>
                                        <span><i class="fa fa-eye"></i> <a href="#">84 Views</a></span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vel faucibus nunc, et venenatis magna. </p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                      </div>
                    </li>
                </ul>
                
                   <div class="clearfix"></div>
                                            
                    <hr>
                                            
                    <div class="pagination_wrapper text-center">
                        <!-- Pagination Normal -->
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div><!-- end pagination_wrapper -->
            </div><!-- end content -->
    	</div><!-- end container -->
    </section><!--end white-wrapper -->

	<footer id="footer-style-1">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<img class="padding-top" src="/assets/flogo.png" alt="">
                	<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Invst igationes demonstraverunt lectores legemer lius quod ii legunt saepius. Claritas est etiam processus dynamicusm lectorum.</p>
                    <div class="social-icons">
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    </div><!-- end social icons -->
                </div><!-- end widget -->
            </div><!-- end columns -->
        	
  <script type="text/javascript">
	var revapi;
	jQuery(document).ready(function() {
		revapi = jQuery('.tp-banner').revolution(
		{
			delay:9000,
			startwidth:1170,
			startheight:500,
			hideThumbs:10,
			fullWidth:"on",
			forceFullWidth:"on"
		});
	});	//ready
  </script>  <script type="text/javascript">
 (function($) {
	  "use strict";
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("body").fitVids();
  });
})(jQuery);
  </script>
  

  <script type="text/javascript">
 (function($) {
	  "use strict";
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "fade",
		controlNav: false,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
	})(jQuery);
  </script>

  
</body>
</html>