	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Contact us #2</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Contact us #2</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

    <section class="white-wrapper">
        <div class="container">
            <div class="general-title">
                <h2>Contact Us</h2>
                <hr>
                <p class="lead">We provide best solution for your business</p>
            </div><!-- end general title -->    
            <div class="contact_form">
                <div id="message"></div>
                <form id="contactform" action="http://jollythemes.com/jollyany/jollyany/contact.php" name="contactform" method="post">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name"> 
                        <input type="text" name="name" id="email" class="form-control" placeholder="Email Address"> 
                        <input type="text" name="name" id="website" class="form-control" placeholder="Website"> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="name" id="subject" class="form-control" placeholder="Subject"> 
                        <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Message"></textarea>
                        <button type="submit" value="SEND" id="submit" class="btn btn-lg btn-primary pull-right">GET A QUOTE</button>
                    </div>
                </form>    
            </div><!-- end contact-form -->
        </div><!-- end container -->
	</section><!-- end map wrapper -->

        <div class="clearfix"></div>
    	<div id="map"></div>
        <div class="clearfix"></div>

	<section id="one-parallax" class="parallax" style="background-image: url('assets/parallax_06.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
            <div class="container">
                <div class="row padding-top margin-top">
                    <div class="contact_details">
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-map-marker fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p>121 King Street, Melbourne Victoria 3000<br>
                                    United States of America, CA 90017</p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->
                        
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p><strong>Phone:</strong> (1005) 5999 4446<br>
                                    <strong>Phone:</strong> (0422) 5999 4446</p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->  
        
                        <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                            <div class="text-center">
                                <div class="wow swing">
                                    <div class="contact-icon">
                                        <a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                                    </div><!-- end dm-icon-effect-1 -->
                                     <p><strong>Email:</strong> jollythemes@gmail.com<br>
                                    <strong>Skype:</strong> jollythemes</p>
                                </div><!-- end service-icon -->
                            </div><!-- end miniboxes -->
                        </div><!-- end col-lg-4 -->                  
                    </div><!-- end contact_details -->
                </div><!-- end margin-top --><br><br>
            </div><!-- end container -->
        </div><!-- end overlay -->
    </section><!-- end map wrapper -->

	<footer id="footer-style-1">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<img class="padding-top" src="/assets/flogo.png" alt="">
                	<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Invst igationes demonstraverunt lectores legemer lius quod ii legunt saepius. Claritas est etiam processus dynamicusm lectorum.</p>
                    <div class="social-icons">
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    </div><!-- end social icons -->
                </div><!-- end widget -->
            </div><!-- end columns -->
   
  <!-- Main Scripts-->
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
   <!-- Google Map -->
  <script type="text/javascript">
	(function($) {
	  "use strict";
		var locations = [
		['<div class="infobox"><h3 class="title"><a href="about1.html">OUR USA OFFICE</a></h3><span>NEW YORK CITY 2045 / 65</span><br>+90 555 666 77 88</p></div></div></div>', -37.801578, 145.060508, 2]
		];
	
		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 10,
			scrollwheel: false,
			navigationControl: true,
			mapTypeControl: false,
			scaleControl: false,
			draggable: true,
			styles: [ { "stylers": [ { "hue": "#000" },  {saturation: -100},
                {gamma: 0.50} ] } ],
			center: new google.maps.LatLng(-37.801578, 145.060508),
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		});
	
		var infowindow = new google.maps.InfoWindow();
	
		var marker, i;
	
		for (i = 0; i < locations.length; i++) {  
	  
			marker = new google.maps.Marker({ 
			position: new google.maps.LatLng(locations[i][1], locations[i][2]), 
			map: map ,
			icon: 'images/marker.png'
			});
	
	
		  google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			  infowindow.setContent(locations[i][0]);
			  infowindow.open(map, marker);
			}
		  })(marker, i));
		}
	})(jQuery);
  </script>
  
    
</body>
</html>