	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Portfolio Single Image</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Portfolio Single Image</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->
    
	<section class="white-wrapper">
    	<div class="container">
        	<div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">
                	<div class="col-sm-7">
                        <div class="portfolio_item">
                            <div class="entry">
                                <img src="/assets/single-portfolio.png" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a href="/assets/single-portfolio.png" class="sf" title="" data-gal="prettyPhoto[product-gallery]"><span class="fa fa-search"></span></a>
                                        <a class="st" rel="bookmark" href="#"><span class="fa fa-heart"></span></a>
                                        <a class="sg" rel="bookmark" href="http://themeforest.net/user/jollythemes/portfolio?ref=jollythemes"><span class="fa fa-eye"></span></a>
                                    </div>
                                </div><!-- end magnifier -->
                            </div><!-- entry -->
                        </div><!-- end portfolio_item -->
                    </div><!-- end col-sm-6 -->
                	<div class="col-sm-5">
                    	<div class="title">
                        	<h2>Best Business Card Mockup Template</h2>
                        </div><!-- end title -->	
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus non rhoncus est. Nullam sit amet felis in nisi congue rhoncus a nec eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer feugiat a dolor ut luctus.
</p>
                        
                        <div class="product_details">
						<h3>Project Details</h3>
                            <ul>
                            <li><strong>Customer:</strong> Themeforest</li>
                            <li><strong>Live demo:</strong> <a href="#">http://www.Jollyany.com</a></li>
                            <li><strong>Category:</strong> <a href="#">3D Graphic Design</a>, <a href="#">Web Design</a></li>
                            <li><strong>Skill:</strong> <a href="#">3DMax</a>, <a href="#">Cinima 4D</a></li>
                            <li><strong>Date post:</strong> 21 May, 2014</li>
                            <li><strong>Tags:</strong> <a href="#">Awesome</a>, <a href="#">3D</a>, <a href="#">Graphic</a>, <a href="#">AdelFox</a></li>
                            </ul>
                                                
                        </div><!-- end product_details -->
                    </div><!-- end col-sm-6 -->
                
                    <div class="clearfix"></div>
                    <div class="next_prev text-center">
                    <ul class="pager">
                        <li class="previous">
                            <a href="#">← Older</a>
                        </li>
                        <li class="next">
                            <a href="#">Newer →</a>
                        </li>
                    </ul>
                    </div><!-- next_prev --> 
                
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->    
		</div><!-- end container -->
    </section><!-- end white-wrapper -->

	<section class="grey-wrapper jt-shadow">
    	<div class="container">
        	<div class="general-title">
            	<h2>Related Projects</h2>
                <hr>
            </div><!-- end general title -->
		</div><!-- end container -->

		<div class="portfolio_wrapper padding-top">
			<div class="portfolio_item">
				<div class="entry">
					<img src="/assets/portfolio_01.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
							<a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                            <h3>Best Apple Mockups</h3>
						</div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->

			<div class="portfolio_item">
				<div class="entry">
					<img src="/assets/portfolio_02.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
							<a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                            <h3>Create an amazing website</h3>
						</div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
            
			<div class="portfolio_item">
				<div class="entry">
					<img src="/assets/portfolio_03.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
							<a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                            <h3>Powerful Site Template</h3>
						</div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
            
			<div class="portfolio_item">
				<div class="entry">
					<img src="/assets/portfolio_04.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
							<a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                            <h3>Responsive and Retina Display</h3>
						</div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
		</div><!-- portfolio_wrapper -->
		<div class="clearfix"></div>
            
		<div class="buttons padding-top text-center">
			<a href="portfolio-masonry.html" class="btn btn-primary btn-lg" title="">View All Projects</a>
		</div>
    </section><!-- end white-wrapper -->
    
	<footer id="footer-style-1">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<img class="padding-top" src="/assets/flogo.png" alt="">
                	<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Invst igationes demonstraverunt lectores legemer lius quod ii legunt saepius. Claritas est etiam processus dynamicusm lectorum.</p>
                    <div class="social-icons">
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    </div><!-- end social icons -->
                </div><!-- end widget -->
            </div><!-- end columns -->
    <script>
  //pretty photo
	jQuery('a[data-gal]').each(function() {
		jQuery(this).attr('rel', jQuery(this).data('gal'));
	});  	
		jQuery("a[data-gal^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',slideshow:false,overlay_gallery: false,theme:'light_square',social_tools:false,deeplinking:false});
  </script>
    
  
</body>
</html>