	<section class="post-wrapper-top jt-shadow clearfix">
		<div class="container">
			<div class="col-lg-12">
				<h2>Services Style #3</h2>
                <ul class="breadcrumb pull-right">
                    <li><a href="index-2.html">Home</a></li>
                    <li>Services Style #3</li>
                </ul>
			</div>
		</div>
	</section><!-- end post-wrapper-top -->

	<section class="white-wrapper">
    	<div class="container">
        	<div class="general-title padding-top">
            	<h2>Jollyany Features</h2>
                <hr>
                <p class="lead">We provide best solution for your business</p>
            </div><!-- end general title -->
            
            <div class="services-one padding-top text-center">
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 first">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-lightbulb-o"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Superb Design Layout</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->

            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-laptop"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Dark & Drop Builder</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->
                
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 last">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-headphones"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Retina Graphic Display</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->
            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 first">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-bars"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Responsive Layout Design</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->

            	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-eye"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Retina Display Ready</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->
                
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 last">
                	<div class="servicebox">
                    	<a href="#">
                    	<div class="service-icon-circle border-none make-bg">
                        	<i class="fa fa-leaf"></i>
                        </div><!-- end service icon -->
                        </a>
                    	<div class="title">
                        	<h3>Simple and Clean Codes</h3>
                        </div><!-- end title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
                        <a class="readmore" href="#">Read more...</a>
                	</div><!-- end servicebox -->
                </div><!-- end col-lg-4 -->
            </div><!-- end services one -->
		</div><!-- end container -->
    </section><!-- end grey-wrapper -->

	<section class="grey-wrapper jt-shadow">
    	<div class="container">
        	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            	<div class="widget">
                	<h3>WHY <span>JOLLYANY</span> IS SIMPLE & VERY POWERFUL?</h3>
                    <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros.</p>
                    <div id="accordion-first" class="clearfix">
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                <em class="fa fa-plus icon-fixed-width"></em>Jollyany is fully responsive and perfectly fits on any Mobile device.
                              </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                <em class="fa fa-plus icon-fixed-width"></em>Jollyany is automatically creates retina ready images.
                              </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                <em class="fa fa-plus icon-fixed-width"></em>Jollyany contains 365 Retina Ready Font Awesome icons.
                              </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                <em class="fa fa-plus icon-fixed-width"></em>Jollyany is Powerful Admin Panel
                              </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse">
                              <div class="accordion-inner">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor...
                              </div>
                            </div>
                          </div> 
                        </div><!-- end accordion -->
                    </div><!-- end accordion first -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
        	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            	<div class="widget">
                	<h3>OUR <span>POWERFUL</span> SKILLS!</h3>
                    <div id="skills" class="skills_bar">
                        <small>Adobe Photoshop</small>
                        <div class="progress wow slideInLeft">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>HTML5 & CSS3</small>
                        <div class="progress wow slideInLeft">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="skill_count">80%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>WordPress</small>
                        <div class="progress wow slideInLeft">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>Customer Support</small>
                        <div class="progress wow slideInLeft">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                            <span class="skill_count">90%</span>
                            </div>
                        </div><!-- end progress -->
                        <small>Shopify Design</small>
                        <div class="progress wow slideInLeft">
                            <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
                            <span class="skill_count">80%</span>
                            </div>
                        </div><!-- end progress -->
                    </div><!-- end skills_bar -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
		</div><!-- end container -->
    </section><!-- end grey-wrapper -->

	<section id="one-parallax" class="parallax" style="background-image: url('/assets/parallax_03.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
                <div class="general-title">
                    <h2>Our Clients & Brands</h2>
                    <hr>
                    <p class="lead">These is the team behind Jollyany Agency</p>
                </div><!-- end general title -->
            
            	<div class="clients padding-top text-center">
                	<div class="client-wrap col-lg-3 first">
                    	<a href="#" title=""><img src="/assets/client_logo_01.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="/assets/client_logo_02.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="/assets/client_logo_03.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last">
                    	<a href="#" title=""><img src="/assets/client_logo_04.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 first no-border">
                    	<a href="#" title=""><img src="/assets/client_logo_05.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="/assets/client_logo_06.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="/assets/client_logo_07.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last no-border">
                    	<a href="#" title=""><img src="/assets/client_logo_08.png" alt=""></a>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->
    
	<footer id="footer-style-1">
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<img class="padding-top" src="/assets/flogo.png" alt="">
                	<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Invst igationes demonstraverunt lectores legemer lius quod ii legunt saepius. Claritas est etiam processus dynamicusm lectorum.</p>
                    <div class="social-icons">
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                        <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    </div><!-- end social icons -->
                </div><!-- end widget -->
            </div><!-- end columns -->
        	