<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>Twitter Feeds</h3>
                    </div><!-- end title -->
                    <ul class="twitter_feed">
                        <li><span></span><p>Jolly Themes wishes you and your family a merry Christmas and a happy new! <a href="#">about 2 days ago</a></p></li>
                        <li><span></span><p>Jolly Themes wishes you and your family a merry Christmas and a happy new! <a href="#">about 9 days ago</a></p></li>
					</ul><!-- end twiteer_feed --> 
                </div><!-- end widget -->
            </div><!-- end columns -->
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>Recent Posts</h3>
                    </div><!-- end title -->
                    <ul class="footer_post">
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_01.jpg" alt=""></a></li>
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_02.jpg" alt=""></a></li>
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_03.jpg" alt=""></a></li>
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_04.jpg" alt=""></a></li>
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_05.jpg" alt=""></a></li>
                        <li><a href="#"><img class="img-rounded" src="/assets/footer_post_06.jpg" alt=""></a></li>
                    </ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div><!-- end columns -->
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div class="widget">
                	<div class="title">
                        <h3>NewsLetter</h3>
                    </div><!-- end title -->
					<div class="newsletter_widget">
                    	<p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. We don't do spam..</p>
                        <form action="#" class="newsletter_form">
                            <input type="text" class="form-control" placeholder="Enter your email address"> 
                            <a href="#" class="btn btn-primary pull-right">Subscribe</a>    
                        </form><!-- end newsletter form -->
					</div>
                </div><!-- end widget -->
            </div><!-- end columns --> 
    	</div><!-- end container -->
    </footer><!-- end #footer-style-1 -->    

<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <p>Copyright © 2014 - Designed by Jolly Themes</p>
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/service3">Services</a></li>
                        <li><a href="/portfolio_single_image">Portfolio</a></li>
                        <li><a href="/blog_timeline">Blog</a></li>
                        <li><a href="/contact1">Contact</a></li>
                    </ul>
                </div>
			</div><!-- end large-7 --> 
        </div><!-- end container -->
    </div><!-- end copyrights -->
    
	<div class="dmtop">Scroll to Top</div>
    <script type="text/javascript">
    var revapi;
    jQuery(document).ready(function() {
        revapi = jQuery('.tp-banner').revolution(
        {
            delay:9000,
            startwidth:1170,
            startheight:500,
            hideThumbs:10,
            fullWidth:"on",
            forceFullWidth:"on"
        });
    }); //ready
  </script>
      
  <!-- Royal Slider script files -->
    <script>
    jQuery(document).ready(function($) {
      var rsi = $('#slider-in-laptop').royalSlider({
        autoHeight: false,
        arrowsNav: false,
        fadeinLoadedSlide: false,
        controlNavigationSpacing: 0,
        controlNavigation: 'bullets',
        imageScaleMode: 'fill',
        imageAlignCenter: true,
        loop: false,
        loopRewind: false,
        numImagesToPreload: 6,
        keyboardNavEnabled: true,
        autoScaleSlider: true,  
        autoScaleSliderWidth: 486,     
        autoScaleSliderHeight: 315,
    
        /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
        imgWidth: 792,
        imgHeight: 479
    
      }).data('royalSlider');
      $('#slider-next').click(function() {
        rsi.next();
      });
      $('#slider-prev').click(function() {
        rsi.prev();
      });
    });
  </script>

  <!-- Affix menu -->
<script>
    (function($) {
      "use strict";
            $("#header-style-1").affix({
            offset: {
              top: 100
            , bottom: function () {
                return (this.bottom = $('#copyrights').outerHeight(true))
              }
            }
        })
    })(jQuery);
</script>
