<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

  <title>Jollyany - Multi-Purpose Business Website Template</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

</head>
<body>   

<!-- ADD /assets -->
		<div class="demo_changer">
			<div class="demo-icon"><i class="fa fa-cog fa-spin fa-2x"></i></div>
                <div class="form_holder">
                    <h4>CHOOSE YOUR STYLE</h4>
                    <p>Choose a color via Color picker or click the predefined style names!</p>
                    <div class="predefined_styles">                    
					<form>
						<select id="headers" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Change Header</option>
                            <option value="header1.html">Header Style 1</option>
                            <option value="header2.html">Header Style 2</option>
                            <option value="header3.html">Header Style 3</option>
						</select>         
						<select id="footers" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Change Footer</option>                            <option value="footer1.html#footer-style-1">Footer Style 1</option>
                            <option value="footer2.html#footer-style-2">Footer Style 2</option>
                            <option value="footer3.html#footer-style-3">Footer Style 3</option>
						</select>     
						<select id="layouts" class="show-menu-arrow selectpicker"  onChange="document.location = this.value" value="GO">
                       	    <option value="">Select Layout</option>
                            <option value="fullwidth_layout.html">Fullwidth Layout</option>
                            <option value="boxed_layout.html">Boxed Layout</option>
						</select>                   
					</form>
                    <hr>
                    <h4>LIGHT OR DARK</h4>
                        <a href="#" rel="light" class="styleswitch"><img class="img-thumbnail" src="..//assets/light.png" alt=""></a>	
                        <a href="#" rel="dark" class="styleswitch"><img class="img-thumbnail" src="..//assets/dark.png" alt=""></a>	
                    <hr> 
                    <h4>PREDEFINED SKINS</h4>
                        <a href="#" rel="green" class="styleswitch"><img src="..//assets/green.png" alt=""></a>	
                        <a href="#" rel="tael" class="styleswitch"><img src="..//assets/tael.png" alt=""></a>	
                        <a href="#" rel="light-green" class="styleswitch"><img src="..//assets/light-green.png" alt=""></a>	
                        <a href="#" rel="yellow" class="styleswitch"><img src="..//assets/yellow.png" alt=""></a>	
                        <a href="#" rel="blue" class="styleswitch"><img src="..//assets/blue.png" alt=""></a>	
                        <a href="#" rel="light-blue" class="styleswitch"><img src="..//assets/light-blue.png" alt=""></a>	
                        <a href="#" rel="purple" class="styleswitch"><img src="..//assets/purple.png" alt=""></a>	
                        <a href="#" rel="violet" class="styleswitch"><img src="..//assets/violet.png" alt=""></a>	
                        <a href="#" rel="red" class="styleswitch"><img src="..//assets/red.png" alt=""></a>	
                        <a href="#" rel="orange" class="styleswitch"><img src="..//assets/orange.png" alt=""></a>	
                    </div>
                    <hr>
                    <p>This tools is just for demo site.</p>
                </div>
            </div>
    <!-- END /assets -->
    
	<div id="topbar" class="clearfix">
    	<div class="container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="social-icons">
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                    <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
                    <span class="last"><a data-toggle="tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a></span>
                </div><!-- end social icons -->
            </div><!-- end columns -->
           
        </div><!-- end container -->
    </div><!-- end topbar -->
    
    <header id="header-style-1">
		<div class="container">
			<nav class="navbar yamm navbar-default">
				<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/index" class="navbar-brand">Jollyany</a>
        		</div><!-- end navbar-header -->
                
				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						 <li><a href="/index">Home</a></li>
                         <li><a href="/about">About Us</a></li>
                         <li><a href="/service3">Services</a></li>
					     <li><a href="/portfolio_single_image">Portfolio</a></li>
                         <li><a href="/blog_timeline">Blog</a></li>
                         <li><a href="/contact1">Contact</a></li>
					</ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-1 -->			</nav><!-- end navbar yamm navbar-default -->
		</div><!-- end container -->
	</header><!-- end header-style-1 -->
	