/* ----------------------------------------------------
	COLOR SCHEMES
------------------------------------------------------- */

	.arrow-left {
		border-right-color:#f7c221;
	}
	#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
		border-top-color:#f7c221 !important;	
	}
	.buddy_members .popover.top > .arrow:after,
	.buddy_carousel .popover.top > .arrow:after {
		border-top:10px solid #f7c221 !important;	
	}
	.tp-bullets.simplebullets .bullet:hover,
	.tp-bullets.simplebullets .bullet.selected{
		border-color:#f7c221 !important;	
	}
	.post-wrapper-top h2,
	.group_box:hover .circle,
	.group_box:hover,
	.buddy_carousel .popover,
	.buddy_members .popover,
	.buddy_desc,
	.cat_widget:hover,
	.social_like .icon-container,
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.pagination > .active > span:focus,
	.form-control:focus,
	.panel-default > .panel-heading:hover,
	.bggrey,
	.services_vertical .icon-container,
	.item .icon-container,
	#owl-testimonial-widget .img-circle,
	.testimonial-wrap,
	.tparrows:hover,
	.blog_button,
	.magnifier .btn-default:hover,
	blockquote,
	.magnifier .btn-default:focus,
	.magnifier .btn-default:active,
	.service-icon-circle,
	.general-title hr {
		border-color:#f7c221;
	}
	#header-style-1 .dropdown-menu,
	#header-style-1 .yamm .dropdown.yamm-fw .dropdown-menu {
		border-top-color: #f7c221 !important;
	}
	#three-parallax .testimonial h3 {
		color:#f7c221 !important;
	}
	.blog_button,
	.shop_title_slider span,
	.cat_widget h3,
	.rating i,
	.big_title_onepage span,
	.small_thin_grey1 i,
	.popular_items .meta span i,
	.ch-info-front i,
	.service_vertical_box:hover .service-icon i,
	.bgdark span,
	.item .icon-container,
	.slider_title_a,
	.mini_title2 i,
	.team_member span,
	.blog-carousel-meta span i,
	.high_title2,
	.high_title,
	.big_title span,
	.small_title span,
	.mini_title span,
	.check li:before,
	.service-icon-circle i,
	.servicebox:hover .service-icon i,
	.shop-right .title .price,
	.shop_item .price,
	.cart_table .price2,
	.widget h3 span,
	.big_title_slider span,
	a,
	.milestone-counter i,
	a.readmore,
	.tabbed-menu li a:hover,
	.footer-menu li a:hover,
	.mmode .title span,
	.footer-menu li a:focus,
	#header-style-1 .yamm h3 i,
	#header-style-1 .yamm-fw .dropdown-menu li a:before,
	#topbar .topbar-login i,
	.group_box i,
	#topbar .callus i,
	#topbar .topbar-cart i {
		color:#f7c221;
	}
	.timeline-badge.danger,
	.flex-control-paging li a.flex-active,
	.tparrows:hover {
		background-color:#f7c221 !important;
	}
	.demo_changer .demo-icon,
	.group_box:hover .circle,
	.buddy_carousel .owl-controls .owl-page.active span, 
	.buddy_carousel .owl-controls.clickable .owl-page:hover span,
	.recent_posts_widget > li img:hover,
	.buddypress_tabber_widget_member li img:hover,
	#tabbed_widget .nav-tabs > li.active > a, 
	#tabbed_widget .nav-tabs > li.active > a:hover,
	#tabbed_widget .nav-tabs > li.active > a:focus,
	#tabbed_widget .nav > li > a:hover, 
	#tabbed_widget .nav > li > a:focus,
	#footer-style-1 .social-icons span a:hover,
	#footer-style-2 .social-icons span a:hover,
	#footer-style-3 .social-icons span a:hover,
	.footer_post li img:hover,
	#tabbed_widget .recent_posts_widget img:hover,
	.pricing_detail:hover,
	.pricing_detail:hover .priceamount,
	.banners li:hover .img-thumbnail,
	.ch-info .ch-info-back,
	.service-with-image:hover .service-title,
	.calloutbox-full-mini,
	.services_vertical .icon-container,
	#services .owl-controls .owl-page span,
	.item:hover .icon-container,
	.white-wrapper #owl-testimonial .owl-controls .owl-page.active span,
	.make-bg,
	.buddy_image img:hover,
	.calloutbox,
	#owl-testimonial-widget .owl-controls .owl-prev:hover, 
	#owl-testimonial-widget .owl-controls .owl-next:hover,
	#owl_blog_two_line .owl-controls .owl-prev:hover,
	#owl_blog_two_line .owl-controls .owl-next:hover,
	#owl_blog_three_line .owl-controls .owl-prev:hover,
	#owl_blog_three_line .owl-controls .owl-next:hover,
	#owl_portfolio_two_line .owl-controls .owl-prev:hover,
	#owl_portfolio_two_line .owl-controls .owl-next:hover,
	#owl_shop_carousel .owl-controls .owl-prev:hover, 
	#owl_shop_carousel .owl-controls .owl-next:hover,
	#owl_shop_carousel_1 .owl-controls .owl-prev:hover,
	#owl_shop_carousel_1 .owl-controls .owl-next:hover,
	#owl-blog .owl-controls .owl-prev:hover, 
	#owl-blog .owl-controls .owl-next:hover,
	.overlay #owl-testimonial .owl-controls .owl-page.active span,
	.progress-bar,
	.dmtop,
	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
	.magnifier .btn-default:hover,
	.magnifier .btn-default:focus,
	.magnifier .btn-default:active,
	.rsDefaultInv .rsBullet.rsNavSelected span,
	.service-icon-circle.active,
	.servicebox:hover .service-icon-circle,
	.btn-primary,
	#accordion-first .accordion-heading .accordion-toggle.active em,
	#accordion-second .accordion-heading .accordion-toggle.active em,
	mark,
	.pager li > a, .pager li > span,
	.make-bg-full,
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.pagination > .active > span:focus,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover,
	.tagcloud a:hover,
	.nav-stacked > li > a:hover,
	.nav-stacked > li > a:focus,
	.nav-tabs > li.active > a:hover,
	.buddy_members img:hover,
	.buddy_carousel img:hover,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a, 
	#buddypress_features .nav-tabs > li > a:hover,
	#buddypress_features .nav-tabs > li > a:focus,
	#header-style-1 .navbar-nav > li > a:hover,
	#header-style-1 .navbar-nav > li > a:focus,
	#header-style-1 .navbar-nav > li > a:active,
	#header-style-1 .navbar-default .navbar-nav > .open > a,
	#header-style-1 .navbar-default .navbar-nav > .open > a:hover,
	#header-style-1 .navbar-default .navbar-nav > .open > a:focus,
	#topbar .social-icons span a:hover {
		background-color:#f7c221;
	}
	.flex-direction-nav a,
	.rsUni .rsThumb.rsNavSelected .thumbIco,
	.custom-overlay {
		background-color:rgba(247,194,33,0.7);
	}
	a.navbar-brand {
		background: url(../assets/logo.png) no-repeat scroll left top rgba(0, 0, 0, 0);
	}